@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:ital,wght@0,200;0,400;0,600;1,100;1,500&family=Oswald:wght@200&family=Oxanium:wght@200;500;600&family=Poppins:wght@100&family=Redressed&family=Roboto:wght@400;500&display=swap');


@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css);

*{/* resetar as margens e paddins */
    margin: 0;
    padding: 0;
    list-style: none;/* nenhum elemento terá marcadores */
    text-decoration: none;/* tirar todos os sublinhados da página */
}

/* definir variaveis para substituir no código */
:root{
    --font-primary: "Oxanium",serif;
    --font-secundary: "Barlow Semi Condensed",serif;
    --font-action: "Barlow Semi Condensed", serif;
}

.hamburguer{
    /*background-color: red;*/
    width: 2rem;
    height: 2rem;
    position: fixed;/* vai ficar fixa na tela */
    z-index: 1;/* para ficar na frente do fundo */
    right: 2rem;/* colocar no lado direito */
    top: 2rem;/* descer 2rem do topo */
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    cursor: pointer;
}

.show-menu .hamburguer {
    right: 16rem;
}

.line{
    width: 100%;/* 100% de .hamburguer */
    height: .1rem;
    background-color: #fff;
    box-shadow: 0.1rem 0.1rem 1px #000;/* um contraste quando tiver branco */
    transition: transform 1s;
}

.show-menu #line1{/* para descer a linha 1 no y */
    transform: rotate(45deg) translate(.3rem, .45rem);
}

.show-menu #line3{/* para subir a linha 3 no y */
    transform: rotate(-45deg) translate(.135rem, -.32rem);
}


.show-menu #line2{/* para sumir a linha 2 */
    opacity: 0;
    visibility: hidden;
}

.hamburguer span{
    position: absolute;
    left: 3rem;
    height: 2rem;
    width: 6rem;
    display: flex;
    justify-content: center;/* centro da linha */
    align-items: center;/* centro da coluna */
    color: #fff;
    background-color: #6a3093;
    font-family: var(--font-action);
    opacity: 0;
}

.hamburguer span::before{
    content: "";
    position: absolute;
    border-right: .5rem solid #6a3093;
    border-top: .5rem solid transparent;
    border-left: .5rem solid transparent;
    border-bottom: .5rem solid transparent;
    left: -1rem;
}

.show-menu .hamburguer:hover span{
    opacity: 1;
}

header{
    width: 100%;
    height: 100vh;/* autura de visao para diversos dispositivos */
    overflow: hidden;/* para os elementos não passarem da tela */
    position: relative;/* para posicionar .banner */
}

.img-wrapper{/* pega 100% de header */
    width: 100%;
    height: 100%;
    overflow: hidden;/* para os elementos não passarem da tela */
    background-color: rgba(55, 55, 55, 0.75);/* fundo para imagem */
}
/* para que o fundo se ajuste a img-wrapper, pois img é filho de img-wrapper */
.img-wrapper img{
    width: 100%;
    height: 100%;
    object-fit: cover;/* fazer com que a imagem cubra a div */
    opacity: 0.5;/* opacidade de 50% */
    animation: zoom 25s;/* zoom, chama o @keyframes zoom abaixo */
}
/* a imagem de fundo começa em 1.5 e volta para 1, tamanho normal */
@keyframes zoom{
    0%{
        transform: scale(1.5);
    }
    100%{
        transform: scale(1);
    }
}

.banner{
    position: absolute;/* ficaram na frente do fundo */
    top: 30%;/* header tá com position relative */
    left: 12%;
}

.banner h1{
    color: #ffffff;
    font-size: 3rem;/* 3 vezes o tamanho da fonte padrao 16px */
    font-family: var(--font-primary);
    font-weight: 400;
    text-shadow: .2rem .3rem 2px rgba(0, 0, 0, .4);/* sombra */
    margin-bottom: 1.5rem;/* espaco do paragrafo */
    opacity: 0;/* interage com keyframe moveBanner */
    /* chama o keyframes moveBanner, 0.2s:tempo para aparecer */
    animation: moveBanner 2s 0.2s forwards;
}

.banner p{
    font-family: var(--font-secundary);
    color: #ffffff;
    font-size: 1.5rem;
    font-weight: 400;
    text-shadow: .1rem .2rem  rgba(0, 0, 0, .4);
    margin-bottom: 1.5rem;/* espaco do buttom */
    opacity: 0;/* interage com keyframe moveBanner */
    /* 0.6s:tempo para aparecer */
    animation: moveBanner 2s 0.6s forwards;/* chama o keyframes moveBanner */
}

.banner button{
    font-family: var(--font-action);
    color: #fff;
    font-size: 0.9rem;
    font-weight: 400;
    text-transform: uppercase;
    border-radius: 5px;
    /* cor gradiente de fundo do button */
    background: #DA22FF;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #9733EE, #DA22FF);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #9733EE, #DA22FF); /* W3C, IE 10+/ Edge,
    Firefox 16+, Chrome 26+,
    Opera 12+, Safari 7+ */
    padding: 0.5rem 1rem;/* primeiro:cima e embaixo, segundo: dos lados */
    border: none;/* sem borda */
    cursor: pointer;
    opacity: 0;/* interage com keyframe moveBanner */
    /* 0.9s:tempo para aparecer */
    animation: moveBanner 2s 0.9s forwards;/* chama o keyframes moveBanner */
}
/* o titulo inicia em baixo e sobe girando 30 graus */
@keyframes moveBanner{
    0%{
        transform: translateY(10rem) rotateY(-30deg);
    }
    100%{
        transform: translateY(0) rotateY(0);
        opacity: 1;/* opacity começa em 0 e termina em 1 */
    }
}

.sidebar{
    width: 20rem;
    height: 100vh;
    background-color: #fff;
    position: fixed;
    top: 0;
    right: -20rem;/* vai jogar pra fora da tela */
    transition: all 1s;/* suavisar a entrada */
}

.show-menu .sidebar{
    right: 0;/* volta a aparecer o sidebar do script.js */
}

.menu {
    position: absolute;
    top: 40%;/* da altura da página */
    left: 40%;/* no meio da página */
    transform: translate(-50%, -50%);
}

.menu-item{
    text-align: center;/** alinhar o texto ao centro */
    margin-bottom: .3rem;/* espaço entre os links */
}

.menu-link{
    font-family: var(--font-action);
    font-size: 1.5rem;
    color: #555;
    transition: color 1s;/* para uma mudança suave na cor */
}

.menu-link:hover{
    color: #6a3093;
}

.social-media{
    position: absolute;
    bottom: 2rem;/* colocar os icones no rodape */
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.social-media i{
    background-color: #6a3093;
    color: #fff;
    height: 2.5rem;
    width: 2.5rem;
    font-size: 1.7rem;/* aumentar os icones de redes sociais */
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    transition: background-color 1s;
}

.social-media i:hover{
    background-color: #a0b9ee;
}
/* dispaly grid com 16 colunas e 6 linhas com 4rem */
.conhecimentos{
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    grid-template-rows: repeat(6, 6rem);
    row-gap: 0.5rem;/* espaço entre os grids */
}

.conhecimento:nth-child(1){
    grid-column: 4 / 7;/* colunas 4 a 7 */
    grid-row: 1 / 3;/* linhas 1 a 3 */
}


.conhecimento:nth-child(2){
    grid-column: 3 / 6;/* colunas 3 a 6 */
    grid-row: 3 / 5;/* linhas 3 a 5 */
}


.conhecimento:nth-child(3){
    grid-column: 4 / 7;/* colunas 4 a 7 */
    grid-row: 5 / -1;/* linhas 5 a -1 */
}


.conhecimento:nth-child(4){
    grid-column: 11 / 14;/* colunas 11 a 14 */
    grid-row: 1 / 3;/* linhas 1 a 3 */
}


.conhecimento:nth-child(5){
    grid-column: 12 / 15;/* colunas 12 a 15 */
    grid-row: 3 / 5;/* linhas 3 a 5 */
}


.conhecimento:nth-child(6){
    grid-column: 11 / 14;/* colunas 11 a 14 */
    grid-row: 5 / -1;/* linhas 5 a -1 */
}

.sessao-conhecimentos{
    background-color: #f5f5f5;
}

.sessao-header{
    display: flex;
    align-items: center;
    justify-content: center;
}

.sessao-header h1{
    font-family: var(--font-secundary);
    font-size: 2rem;
    color: #555;
    border-bottom: solid 3px #6a3093;
    margin-bottom: 1.5rem;
}

.conhecimento-header{
    display: flex;/* os icones ficarem ao lado */
    align-items: center;/* alinhados ao centro */
    color: #4b4b4b;
}

.conhecimento-header i{
    font-size: 2rem;/* aumentar o tamanho do icone */
}

.conhecimento-header h3{
    font-family: var(--font-primary);
    font-size: 1.6rem;
    padding-left: 1rem;
}

.conhecimento-text{
    font-family: var(--font-action);
    margin-top: 1rem;
}

.conhecimentos-img-wrapper{
    grid-column: 7 / 11;
    grid-row: 2 / 6;
    width: 100%;
}

/* para que a imagem se ajuste entre os grids */
.conhecimentos-img-wrapper img{
    object-fit: cover;
    width: 100%;
}

.projetos{
    display: flex;
    justify-content: space-evenly;/* espacos entre os cards-imagens */
}
/* definir o tamanho para os cards */
.card{
    width: 18rem;
    height: 25rem;
    position: relative;
}

.card-img-wrapper{
    width: 100%;
    height: 100%;
    background-color: #262626;
    border-radius: .5rem;
}
/* ajustar os cards */
.card-img-wrapper img{
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: .5rem;
    opacity: .8;
    transition: opacity .3s;
}

.card:hover .card-img-wrapper img{
    opacity: .5;
}

/* as informacoes ficaram sobre os cards */
.card-info{
    position: absolute;
    bottom: 0;
    opacity: 0;
    visibility: hidden;
    padding: 2rem;
    text-shadow: 0.3rem 0.2rem 0.3rem rgba(0, 0, 0, .6);
    transition: all .3s;
}

.card-info h2{
    font-family: var(--font-primary);
    font-size: 2rem;
    font-weight: 500;
    color: #eee;
}

.card-info h3{
    font-family: var(--font-secundary);
    font-weight: bolder;
    color: #e91741;
    margin-bottom: 1.5rem;
}

.card-info p{
    font-family: var(--font-secundary);
    color: #eee;
    font-weight: 400;
    width: 80%;
    margin-bottom: 2rem;
}

.btn{
    background: #6a3093;
    background: -webkit-linear-gradient(to right, #a044ff, #6a3093);
    background: linear-gradient(to left, #a044ff, #6a3093);
    font-family: var(--font-action);
    font-size: 1rem;
    color: #eee;
    border-radius: .5rem;
    box-shadow: 0 .1rem .8rem rgba(0, 0, 0, .4);
    cursor: pointer;
}

.card-info button{
    width: 8rem;
    height: 2.5rem;
}

.card:hover .card-info{
    bottom: 2rem;
    opacity: 1;
    visibility: visible;
}
/* colocar o formulario no centro da tela */
.sessao-contato{
    width: 100%;
    height: 100vh;
    background-color: #272727;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contato-wrapper{
    width: 65%;
    height: 30rem;
    display: flex;
    box-shadow: 0 2rem 3rem rgba(0,0,0,0.5);
}

.contato-left{
    width: 35%;
    background: 
        linear-gradient(rgba(15,15,16, 0.5),rgba(22,22,22, 0.8)),
        url(imagens/contato1.jpg);
    background-size: cover;/* para a imagem se ajustar a largura de 35% */
}

.contato-right{
    width: 65%;
    background-color: #eee;
    padding: 1rem 3rem 3rem 3rem;
}

.sessao-contato h1{
    width: 100%;
    text-align: center;
    font-family: var(--font-primary);
    color: #272727;
    font-size: 2rem;
    font-weight: lighter;
}

.sessao-contato form{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input-group{
    position: relative;
}

.field{
    background: transparent;
    border: none;
    width: 20rem;
    font-size: 1.2rem;
    font-family: var(--font-secundary);
    border-bottom: 2px dashed #6a3093;
    height: 3rem;
    outline: none;
    margin: 1rem 0;
}

.input-group textarea{
    padding-top: 1rem;
    max-width: 25rem;/* para limitar a area de texto */
    max-height: 4rem;/* limitar a autura */
}

.field-label{
    position: absolute;
    left: 0;
    top: 2rem;
    font-size: 1.2rem;
    font-family: var(--font-secundary);
    text-transform: uppercase;
    transition: all 0.3s;
}
/* quando o campo estiver em foco */
.field:focus ~ label{
    top: 0;
    font-size: 1rem;
}

.field:focus{
    border-bottom: 1px solid;
}

.btn-submit{
    font-size: 1.2rem;
    text-transform: uppercase;
    width: 100%;
    height: 2rem;
    margin-top: 1rem;
}

.sessao-orcamento{
    width: 100%;
    height: 100vh;
    background: url("./imagens/bg-orcamento.jpg");
    object-fit: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.orcamento-wrapper{
    width: 60%;
    height: 80%;
    background-color: #ffffff55;/* 55 é a opacidade */
    border-radius: 8px;
    box-shadow: 0 0.1rem 0.3rem rgba(0,0,0,0.5);
    position: relative;
}

.sessao-orcamento h1{
    position: absolute;
    top: -2.5rem;
    left: 2rem;
    background: #6a3093;
    background: -webkit-linear-gradient(to right, #a044ff, #6a3093);
    background: linear-gradient(to left, #a044ff, #6a3093);
    padding: 0 3rem;
    color: #fff;
    font-family: var(--font-primary);
    font-size: 2.4rem;
    font-weight: lighter;
    box-shadow: 0 0.1rem 0.3rem rgba(0, 0, 0, 0.5);
    border-radius: 8px;
}

.sessao-orcamento form{
    margin: 4rem;
    display: grid;
    grid-template-columns: auto 1fr;
    column-gap: 2rem;/* espaço entre as colunas */
    row-gap: 2rem;/* espaço entre as linhas */
}

.sessao-orcamento label{
    font-family: var(--font-secundary);
    font-size: 1.2rem;
    font-weight: bold;
}

.sessao-orcamento input[type="number"]{
    font-family: var(--font-secundary);
    width: 4rem;
    font-size: 1.5rem;
    outline: none;
    border-radius: 6px;
    border: none;
    padding: 0.3rem;
}

.btn-orcamento{
    text-transform: uppercase;
    padding: 1rem;
    cursor: pointer;
    grid-column: 2;/* o botão ficara na coluna 2 */
}

/* tempo 9:45 aula 07 */







