@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:ital,wght@0,200;0,400;0,600;1,100;1,500&family=Oswald:wght@200&family=Oxanium:wght@200;500;600&family=Poppins:wght@100&family=Redressed&family=Roboto:wght@400;500&display=swap');


@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css);

*{/* resetar as margens e paddins */
    margin: 0;
    padding: 0;
    list-style: none;/* nenhum elemento terá marcadores */
    text-decoration: none;/* tirar todos os sublinhados da página */
}

/* definir variaveis para substituir no código */
:root{
    --font-primary: "Oxanium",serif;
    --font-secundary: "Barlow Semi Condensed",serif;
    --font-action: "Barlow Semi Condensed", serif;
}

.hamburguer{
    /*background-color: red;*/
    width: 2rem;
    height: 2rem;
    position: fixed;/* vai ficar fixa na tela */
    z-index: 1;/* para ficar na frente do fundo */
    right: 2rem;/* colocar no lado direito */
    top: 2rem;/* descer 2rem do topo */
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    cursor: pointer;
}

.show-menu .hamburguer {
    right: 16rem;
}

.line{
    width: 100%;/* 100% de .hamburguer */
    height: .1rem;
    background-color: #fff;
    box-shadow: 0.1rem 0.1rem 1px #000;/* um contraste quando tiver branco */
    transition: transform 1s;
}

.show-menu #line1{/* para descer a linha 1 no y */
    transform: rotate(45deg) translate(.3rem, .45rem);
}

.show-menu #line3{/* para subir a linha 3 no y */
    transform: rotate(-45deg) translate(.135rem, -.32rem);
}


.show-menu #line2{/* para sumir a linha 2 */
    opacity: 0;
    visibility: hidden;
}

.hamburguer span{
    position: absolute;
    left: 3rem;
    height: 2rem;
    width: 6rem;
    display: flex;
    justify-content: center;/* centro da linha */
    align-items: center;/* centro da coluna */
    color: #fff;
    background-color: #6a3093;
    font-family: var(--font-action);
    opacity: 0;
}

.hamburguer span::before{
    content: "";
    position: absolute;
    border-right: .5rem solid #6a3093;
    border-top: .5rem solid transparent;
    border-left: .5rem solid transparent;
    border-bottom: .5rem solid transparent;
    left: -1rem;
}

.show-menu .hamburguer:hover span{
    opacity: 1;
}

header{
    width: 100%;
    height: 100vh;/* autura de visao para diversos dispositivos */
    overflow: hidden;/* para os elementos não passarem da tela */
    position: relative;/* para posicionar .banner */
}

.img-wrapper{/* pega 100% de header */
    width: 100%;
    height: 100%;
    overflow: hidden;/* para os elementos não passarem da tela */
    background-color: rgba(55, 55, 55, 0.75);/* fundo para imagem */
}
/* para que o fundo se ajuste a img-wrapper, pois img é filho de img-wrapper */
.img-wrapper img{
    width: 100%;
    height: 100%;
    object-fit: cover;/* fazer com que a imagem cubra a div */
    opacity: 0.5;/* opacidade de 50% */
    animation: zoom 25s;/* zoom, chama o @keyframes zoom abaixo */
}
/* a imagem de fundo começa em 1.5 e volta para 1, tamanho normal */
@keyframes zoom{
    0%{
        transform: scale(1.5);
    }
    100%{
        transform: scale(1);
    }
}

.banner{
    position: absolute;/* ficaram na frente do fundo */
    top: 30%;/* header tá com position relative */
    left: 12%;
}

.banner h1{
    color: #ffffff;
    font-size: 3rem;/* 3 vezes o tamanho da fonte padrao 16px */
    font-family: var(--font-primary);
    font-weight: 400;
    text-shadow: .2rem .3rem 2px rgba(0, 0, 0, .4);/* sombra */
    margin-bottom: 1.5rem;/* espaco do paragrafo */
    opacity: 0;/* interage com keyframe moveBanner */
    /* chama o keyframes moveBanner, 0.2s:tempo para aparecer */
    animation: moveBanner 2s 0.2s forwards;
}

.banner p{
    font-family: var(--font-secundary);
    color: #ffffff;
    font-size: 1.5rem;
    font-weight: 400;
    text-shadow: .1rem .2rem  rgba(0, 0, 0, .4);
    margin-bottom: 1.5rem;/* espaco do buttom */
    opacity: 0;/* interage com keyframe moveBanner */
    /* 0.6s:tempo para aparecer */
    animation: moveBanner 2s 0.6s forwards;/* chama o keyframes moveBanner */
}

.banner button{
    font-family: var(--font-action);
    color: #fff;
    font-size: 0.9rem;
    font-weight: 400;
    text-transform: uppercase;
    border-radius: 5px;
    /* cor gradiente de fundo do button */
    background: #DA22FF;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #9733EE, #DA22FF);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #9733EE, #DA22FF); /* W3C, IE 10+/ Edge,
    Firefox 16+, Chrome 26+,
    Opera 12+, Safari 7+ */
    padding: 0.5rem 1rem;/* primeiro:cima e embaixo, segundo: dos lados */
    border: none;/* sem borda */
    cursor: pointer;
    opacity: 0;/* interage com keyframe moveBanner */
    /* 0.9s:tempo para aparecer */
    animation: moveBanner 2s 0.9s forwards;/* chama o keyframes moveBanner */
}
/* o titulo inicia em baixo e sobe girando 30 graus */
@keyframes moveBanner{
    0%{
        transform: translateY(10rem) rotateY(-30deg);
    }
    100%{
        transform: translateY(0) rotateY(0);
        opacity: 1;/* opacity começa em 0 e termina em 1 */
    }
}

.sidebar{
    width: 20rem;
    height: 100vh;
    background-color: #fff;
    position: fixed;
    top: 0;
    right: -20rem;/* vai jogar pra fora da tela */
    transition: all 1s;/* suavisar a entrada */
}

.show-menu .sidebar{
    right: 0;/* volta a aparecer o sidebar do script.js */
}

.menu {
    position: absolute;
    top: 40%;/* da altura da página */
    left: 40%;/* no meio da página */
    transform: translate(-50%, -50%);
}

.menu-item{
    text-align: center;/** alinhar o texto ao centro */
    margin-bottom: .3rem;/* espaço entre os links */
}

.menu-link{
    font-family: var(--font-action);
    font-size: 1.5rem;
    color: #555;
    transition: color 1s;/* para uma mudança suave na cor */
}

.menu-link:hover{
    color: #6a3093;
}

.social-media{
    position: absolute;
    bottom: 2rem;/* colocar os icones no rodape */
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.social-media i{
    background-color: #6a3093;
    color: #fff;
    height: 2.5rem;
    width: 2.5rem;
    font-size: 1.7rem;/* aumentar os icones de redes sociais */
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    transition: background-color 1s;
}

.social-media i:hover{
    background-color: #a0b9ee;
}



/* tempo 41:57 -- 46:51 aula 03 */